/*****************************
.formWrapper
*****************************/
.formWrapper {
  display: flex;
  width: 700px;
  margin: 100px auto 0;
  border-radius: 20px;
  overflow: hidden;
  background-color: $white;
}

/*****************************
.sct-gravatar
*****************************/
.sct-gravatar {
  width: 35%;
  padding: 36px;
  background-image: linear-gradient(357.96deg, #16c6b9, #19f0b0);

  &__imgWrap {
    width: 150px;
    height: auto;
    margin: 0 auto;
    border-radius: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }
  }
}

/*****************************
.sct-form
*****************************/
.sct-form {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  padding: 36px;
  background-color: $light-grey;

  &__form {
    width: 100%;
  }

  &__field {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    &:not(:first-of-type){
      margin-top: 20px;
    }

    label {
      display: block;
      font-size: size(14);
      font-weight: 600;
      color: $mid-grey;
      letter-spacing: 0.025em;
      width: 100%;
      margin-bottom: 10px;
    }

    input {
      width: 100%;
      height: 40px;
      padding: 12px;
      border-radius: 10px;
    }
  }

  &__fieldCol {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
  }

  &__col50 {
    width: 48%;
  }

  &__inputWrapper {
    position: relative;
  }

  &__btnPwVisible {
    position: absolute;
    display: inline-block;
    top: 50%;
    right: 0;
    margin-right: 10px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
  }

  &__strengthTxt {
    font-size: size(14);
  }
}

/*****************************
sct-form__meter
*****************************/
.sct-form__meter {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: $mid-grey;
  
}

#custom-meter {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  background-color: $red;
  vertical-align: top;
  transition: all 0.3s linear;

  &.strength-0 {
    width: 0%;
  }
  &.strength-1 {
    width: 25%;
    background-color: $red;
  }
  &.strength-2 {
    width: 50%;
    background-color: $orange;
  }
  &.strength-3 {
    width: 75%;
    background-color: $yellow-green;
  }
  &.strength-4 {
    width: 100%;
    background-color: $green;
  }
}

